<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blogs</h1>
    <ul>
        <li th:each="blog : ${blogs}">
            <a th:href="@{/blogs/{id}(id=${blog.getId()})}" th:text="${blog.getTitle}"></a>
        </li>
    </ul>
    <a href="/newBlog">Create Blog</a>
</body>
</html>