<!DOCTYPE html>
<html
	lang="en"
	class="min-h-screen bg-slate-800"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Inicio de sesión</title>
	</head>
	<body class="flex flex-col justify-center items-center min-h-screen">
		<div class="w-full max-w-5xl px-16 py-5 bg-slate-100 rounded-xl">
			<h1 class="text-2xl text-center font-bold">Inicio de sesión</h1>
			<br />
			<form class="mt-10 flex flex-col gap-24" method="post" th:action="@{/login}">
				<div class="flex justify-center">
					<div class="flex flex-col gap-7">
						<label>
							<p>Username:</p>
							<input
								class="border-slate-500 h-8 border-2 rounded-md"
								type="text"
								name="username"
								id="username"
								placeholder="Username"
							/>
						</label>
						<label>
							<p>Contraseña:</p>
							<input
								id="password"
								name="password"
								type="password"
								placeholder="Contraseña"
								class="border-slate-500 border-2 rounded-md"
							/>
						</label>
						<p th:if="${param.error}">Invalid username and password.</p>
						<p th:if="${param.logout}">You have been logged out.</p>
					</div>
				</div>
				<div class="flex gap-7 justify-center">
					<input class="p-2 bg-slate-600 text-white rounded-md cursor-pointer" type="submit" value="Iniciar Sesión" />
				</div>
			</form>
		</div>
	</body>
</html>
